.sublime-workspace

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
dist
lib

# Dependency directory
node_modules
